<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        x-data="data()"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>

<body>


   <div x-data="sidebarMenu()"
        @keydown.window.escape="closeSidebar"
        class="flex h-screen bg-gray-50 "
   >
       <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
       <div th:replace="~{fragments/sidebar-menu :: mobile}"></div>

       <!-- Static sidebar for desktop -->
       <div th:replace="~{fragments/sidebar-menu :: desktop}"></div>

       <div class="flex flex-1 flex-col ">
           <div th:replace="~{fragments/top-menu :: menu}"></div>

           <main class="h-full pb-16 overflow-y-auto">

               <div class="container px-6 mx-auto grid">
                   <div layout:fragment="page-content">
                   </div>
               </div>
           </main>
       </div>
   </div>

    <div th:replace="~{fragments/modal/athletes-list :: modalAthletes}"></div>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script th:src="@{/js/user-menu.js}"></script>
    <script th:src="@{/js/init-alpine.js}"></script>
    <script th:src="@{/js/focus-trap.js}" defer></script>

    <th:block layout:fragment="page-scripts">
    </th:block>



</body>
</html>