<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='users'">

<head>
    <title>Registration new user</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900"
            th:text="#{user.signUp}">Sign up</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                <h4>Please choose your role</h4>
                <h5>
                    <a href="registration/athlete"
                       th:text="Athlete"
                       class="text-indigo-600 hover:text-indigo-900">Athlete</a>
                    <a href="registration/coach"
                       th:text="Coach"
                       class="text-indigo-600 hover:text-indigo-900">Coach</a>
                </h5>

            </div>
        </div>
    </div>
</div>
</body>
</html>