<!DOCTYPE html>
        <html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='journal'">

        <head>
        <title>User Info</title>
</head>
<body>
    <div layout:fragment="page-content" class="container px-6 py-4 bg-white"
         th:with="loggedInUserId=${#authentication.principal.id}">
        <div th:if="${loggedInUserId eq 2 or loggedInUserId eq coach.id}">

            <div class="max-w-7xl mx-auto px-4 py-5 sm:px-6 md:px-8">
                <h1 class="text-2xl font-semibold text-gray-900">Training journal
                </h1>
            </div>
            <div class="align-middle inline-block min-w-full shadow overflow-hidden rounded-md sm:rounded-lg border-b border-gray-200">
                <table class="w-full whitespace-no-wrap`">
                    <thead>
                    <tr class="text-xs text-center  tracking-wide  text-gray-500 uppercase border-b gray:border-gray-700 bg-gray-50 dark:text-gray-400 ">
                        <th th:replace="~{fragments/table :: header(#{training.name})}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{training.description}, hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{training.participants }, hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{training.location }, hideOnMobile=true)}"></th>
                        <th th:replace="~{fragments/table :: header(title=#{training.date}, hideOnMobile=true)}"></th>
                        <th>Actions</th>
                    </tr>

                    </thead>
                    <tbody class="bg-white divide-y gray:divide-gray-700 ">
                    <tr class="text-gray-700 gray:text-gray-400 border-gray-300 " th:each="training : ${coach.trainings}">
                        <td th:replace="~{fragments/table :: dataWithLink(${training.name},@{/training/{id}(id=${training.id})})}"></td>
                        <td th:replace="~{fragments/table :: data(contents=${training.description})}"></td>
                        <td class="text-sm leading-5 text-cyan-500 text-center ">
                            <div th:each="participant: ${training.participants}">
                                <a  th:href="@{add_training/{training_id}/{id}(training_id=${training.id}, id=${participant.athleteData.id})}" th:text="${participant.athleteData.firstName}"></a>
                            </div>
                        </td>
                        <td th:replace="~{fragments/table :: data(contents=${training.location})}"></td>
                        <td th:replace="~{fragments/table :: data(contents=${#temporals.format(training.date, 'dd-MM-yyyy')})}"></td>
                        <td class="text-xs text-center  tracking-wide  text-cyan-500 py-1">
                            <div class="py-1"><a th:href="@{/coach/{username}/add_participant/{id}(username=${coach.username}, id=${training.id})}" >Add participant</a> </div>
                                <div class="py-1"><a th:href="@{/coach/{username}/remove_participant/{id}(username=${coach.username}, id=${training.id})}" >Remove participant</a> </div>
                            <div class="py-1"><a th:href="@{/training/edit-training/{id}(id=${training.id})}"> Edit training </a></div>
                            <div class="py-1"><a th:href="@{/training/{id}(id=${training.id})}" >Training Details</a> </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
        <div th:if="${loggedInUserId != 2 and loggedInUserId != coach.id }">
            <div class="text-gray-500">
                <p th:text="@{Sorry you dont have permission to see this page}" class="mb-6"></p>
                <a th:href="@{/}" class="flex items-center text-sm text-cyan-500 hover:text-green-900">
                    <svg viewBox="0 0 20 20" fill="currentColor"
                         class="w-4 h-4 mr-2">
                        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span th:text="@{Back to home page}">Back to home page</span>
                </a>
            </div>
        </div>


</div>
</body>
</html>