<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='dashboard'">

<head>
    <title>User Info</title>
</head>
<body>
<div layout:fragment="page-content" class="container px-6 py-4">

    <div class="max-w-7xl mx-auto px-4 py-5 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Athlete info
        </h1>
    </div>

    <div class="min-w-0 p-4  shadow-xs ">
        <label class="block mb-6">
            <span class="text-gray-700"><b>Name:</b></span>
            <span th:text="${athlete.fullName}"></span>
        </label>

        <label class="block mb-6">
            <span class="text-gray-700"><b>Date of birth: </b></span>
            <span th:text="${athlete.dateOfBirth}"></span>
        </label>
        <label class="block mb-6">
            <span class="text-gray-700"><b>Email: </b></span>
            <span th:text="${athlete.email}"></span>
        </label>
        <label class="block mb-6">
            <span class="text-gray-700"><b>Username: </b></span>
            <span th:text="${athlete.username}"></span>
        </label>
        <h4 class="text-2xl font-semibold text-gray-900">Sports
        </h4>
        <div class="my-6 align-middle inline-block min-w-full shadow overflow-hidden rounded-md sm:rounded-lg border-b border-gray-200">
            <table class="w-full whitespace-no-wrap`">
                <thead>

                <tr class="text-xs text-center  tracking-wide  text-gray-500 uppercase border-b gray:border-gray-700 bg-gray-50 dark:text-gray-400 ">
                    <th th:replace="~{fragments/table :: header(@{Sport})}"></th>
                    <th th:replace="~{fragments/table :: header(@{Coach})}"></th>
                    <th th:replace="~{fragments/table :: header(@{Trainings})}"></th>
                </tr>

                </thead>
                <tbody class="bg-white divide-y gray:divide-gray-700 ">

                <tr class="text-gray-700 gray:text-gray-400 border-gray-300 " th:each="activity : ${athlete.athleteActivities}">
                    <td th:replace="~{fragments/table :: dataWithLink(${activity.coach.sport.name},@{/sport/{id}(id=${activity.coach.sport.id})})}"></td>
                    <td th:replace="~{fragments/table :: dataWithLink(${activity.coach.fullName}, @{/coach/{username}(username=${activity.coach.username})})}"></td>
                    <td class="text-sm leading-5 text-cyan-500 text-center ">
                        <div th:each="participant : ${activity.trainings}">
                            <a  th:href="@{/training/{training_id}(training_id=${participant.training.id})}"
                                th:text="${participant.training.name}"  class="text-center"></a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
</body>
</html>